#header {
  height: 80px;
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 1;
}

#header .header {
  height: 90px;
  background-color: #231f20;
}
#header .header_logo img {
  max-width: 70%;
  max-height: 97%;
}
#header .header_item {
  max-height: 75px;
}
#header .header_item,
#header .header_system {
  color: #fff;
  font-size: 20px;
  line-height: 75px;
}
#header .header_item:hover {
  cursor: pointer;
  background-color: #3c3c3c;
  color: #fff;
  font-weight: 600;
}

#header .header_logo:hover {
  cursor: pointer;
}
#header .header_logo {
  color: #fff;
}
#header .header_search {
  height: 40px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  display: flex;
  margin: 17.5px;
}

#header .header-icon {
  margin: 0 20px;
}

#header .header-icon i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#header .header-components {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
#header .header-search_input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: black;
  padding: 0 16px;
  border-radius: 5px;
}
#header .header-search-btn {
  background-color: black;
  height: 100%;
  width: 20%;
  border-color: white;
  /* margin-top: 2px;
  margin-right: 2px; */
  border-radius: 5px;
}
#header .header-search-btn-icon {
  color: #fff;
}
#header .header-search-btn:hover {
  cursor: pointer;
}

#header .header-account:hover {
  cursor: pointer;
}
#header .header-cart-icon:hover {
  cursor: pointer;
}
#header .header_item:hover {
  cursor: pointer;
}

#avatar-popover .custome-popover-body {
  padding: 1rem 0;
  width: 150px;
}

#avatar-popover .menu-item {
  cursor: pointer;
  padding: 7px 10px;
  color: rgb(39, 39, 42);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

#avatar-popover .menu-item svg {
  font-size: 18px;
  margin: 0px 5px 5px 0;
}

#avatar-popover .menu-item:hover {
  background: #cdcdcd;
}
