#homepage .header-preview {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.slider-header > .slick-slider {
  margin: 30px 0px;
  width: 100%;
}
#homepage .header-preview a:hover {
  color: #000;
}
.content {
  margin-left: 12px;
}
.more {
  margin-right: 4px;
}
.content:hover,
.more:hover {
  filter: opacity(0.5);
}
.fa-chevron-right {
  padding: 0 10px;
}
#homepage .banner {
  padding-top: 0px;
}
#homepage .banner > img {
  border-radius: 10px;
}
.product > .slick-slider {
  margin: 0 25px;
  width: 84.5%;
}
#homepage .product {
  display: flex;
}
.banner {
  margin-right: 40px;
}
.gender {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.men,
.women {
  margin: 0px 100px;
}
.underline {
  margin-top: 30px;
  border-bottom: 2px solid black;
  width: 400px;
}
.men > a {
  padding-left: 175px;
}
.women > a {
  padding-left: 163px;
}
.men > a:hover {
  color: gray;
}
.women > a:hover {
  color: gray;
}
#homepage #card {
  width: 200px;
  height: 420px;
}
#homepage #card .name {
  margin-top: 8px;
  font-weight: 500;
  padding: 2px 2px;
}
#homepage #card .price {
  font-weight: 700;
  font-size: medium;
}
#homepage #card .ant-card-body {
  padding: 2px;
}
#homepage #card img {
  transform: scale(1);
  transition: all 0.5s;
}
#homepage #card img:hover {
  transform: scale(1.1);
}
#homepage .ant-card {
  overflow: hidden;
}
