.header-preview {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.header-preview a:hover {
  color: #000;
}
.content {
  margin-left: 12px;
}
.more {
  margin-right: 4px;
}
.fa-chevron-right {
  padding: 0 10px;
}
.banner {
  padding-top: 0px;
}
.banner > img {
  border-radius: 10px;
}
.product {
  display: flex;
}
