#homepage .header-preview {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
#homepage .header-preview a:hover {
  color: #000;
}

#homepage .more {
  margin-right: 4px;
}
#homepage .content:hover,
#homepage .more:hover {
  filter: opacity(0.5);
}
#homepage .fa-chevron-right {
  padding: 0 10px;
}
#homepage .banner {
  width: 20%;
}
#homepage .banner > img {
  height: 100%;
}
.product > .slick-slider {
  margin: 0 20px;
  width: 76%;
}
#homepage .product {
  line-height: 0 !important;
  display: flex;
}
/* .banner {
  margin-right: 40px;
} */
#homepage .gender {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#homepage .gender .gender-item {
  height: 64px;
  width: 220px;
  justify-content: center;
  display: flex;
  align-items: end;
  margin-right: 50px;
  padding-bottom: 19px;
  border-bottom: 2px solid #97a0ad;
  cursor: pointer;
  text-transform: uppercase;
}

#homepage .gender .gender-item:hover {
  border-bottom: 2px solid #fcaf17;
  color: #fcaf17;
}

.custome-card-home-page {
  width: 90% !important;
  height: 450px;
}
