#homepage .header-preview {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.slider-header > .slick-slider {
  margin: 30px 0px;
  width: 100%;
}
#homepage .header-preview a:hover {
  color: #000;
}
.content {
  margin-left: 12px;
}
.more {
  margin-right: 4px;
}
.content:hover,
.more:hover {
  filter: opacity(0.5);
}
.fa-chevron-right {
  padding: 0 10px;
}
#homepage .banner {
  padding-top: 0px;
}
#homepage .banner > img {
  border-radius: 10px;
}
.product > .slick-slider {
  margin: 0 25px;
  width: 83%;
}
#homepage .product {
  display: flex;
}
.banner {
  margin-right: 40px;
}
.gender {
  display: flex;
  justify-content: center;
}
.men,
.women {
  margin: 0px 100px;
}
.underline {
  margin-top: 30px;
  border-bottom: 2px solid black;
  width: 400px;
}
.men > a {
  padding-left: 175px;
}
.women > a {
  padding-left: 163px;
}
.men > a:hover {
  color: gray;
}
.women > a:hover {
  color: gray;
}
