#productDetail .image-product {
  margin-top: 30px;
}
#productDetail .row {
  margin-top: 30px;
}
#productDetail .image img {
  height: 600px;
  width: auto;
}
#productDetail .box-divider {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
}
#productDetail .divider {
  height: 20px;
  border-left: 1px solid #879097;
  margin-top: 5px;
}
#productDetail .product-top {
  display: flex;
}
#productDetail .product-review {
  padding-left: 2px;
}
#productDetail .product-sold {
  margin-top: 1px;
}

#productDetail .divider {
  margin-left: 10px;
}
#productDetail .product-review {
  padding: 0 10px;
}
#productDetail .fa-star {
  color: rgb(224, 224, 52);
}
#productDetail .price {
  display: flex;
  font-size: 30px;
  margin-top: 5px;
}
#productDetail .special-price,
.discount-price {
  color: rgb(238, 49, 49);
}
#productDetail .old-price,
#productDetail .discount-price {
  margin-left: 20px;
}
#productDetail .old-price {
  text-decoration: line-through;
  color: gray;
}
#productDetail .product-variation {
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  box-sizing: border-box;
  padding: 0.25rem 0.75rem;
  margin: 0 8px 8px 0;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background: #fff;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#productDetail .product-color {
  margin-top: 10px;
}
#productDetail .btn {
  margin-top: 30px;
  margin-right: 30px;
}
#productDetail .fa-cart-plus {
  margin-right: 5px;
}
#productDetail .btn-primary {
  background-color: rgb(16, 35, 51);
}
#productDetail .btn-primary:hover {
  background-color: rgb(124, 143, 161);
}
#productDetail .product-describe {
  margin-top: 30px;
}
#productDetail .product-variation-quantity {
  width: 40px;
  min-height: 2.125rem;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background: #fff;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
