#card {
  width: 100%;
  height: 100%;
}
#card .name {
  font-weight: 500;
  /* padding: 2px 2px; */
  /* height: 68px; */
  white-space: break-spaces;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#card .price {
  font-weight: 700;
  font-size: medium;
}
/* #card .ant-card-cover {
  height: 70%;
}

#card .ant-card-body {
  height: 30%;
} */

#card img {
  transition: all 0.5s;
}
#card img:hover {
  transform: scale(1.1);
}
.ant-card-cover {
  overflow: hidden;
}
.ant-card {
	overflow: hidden;
}

