#CartEmpty{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#CartEmpty .btn-buy-now{
    font-size: 16px;
    margin-top: 10px;
}

#CartEmpty .btn-buy-now:hover{
    color: #fcaf17;
    cursor: pointer;
}