avro:
  codegen:
    enableDecimalLogicalType: true
    optionalGettersForNullableFieldsOnly: true

quarkus:
  datasource:
    jdbc:
      url: 'jdbc:postgresql://localhost:5432/wallet_service?serverTimezone=UTC'
    db-kind: postgresql
    metrics:
      enabled: true
    password: postgres
    username: postgres
  hibernate-orm:
    query:
      fail-on-pagination-over-collection-fetch: true
    schema-management:
      strategy: drop-and-create
    second-level-caching-enabled: false
    log:
      sql: false
      format-sql: false
    physical-naming-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
  http:
    port: 8082
    auth:
      permission:
        authenticated:
          paths: /*
          policy: authenticated
        permit:
          paths: /q/*
          policy: permit
  oidc:
    enabled: true
    auth-server-url: http://localhost:8180
    client-id: postman
    application-type: SERVICE
    authentication:
      user-info-required: true
  log:
    handler:
      console:
        console:
          format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{3.}] %X (%t) %s%e%n"
  smallrye-openapi:
    store-schema-directory: target

kafka:
  bootstrap:
    servers: localhost:9092

mp:
  messaging:
    metrics:
      enabled: true
    connector:
      smallrye-kafka:
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
    incoming:
      promotion-in:
        topic: "promotion.applied"
        connector: smallrye-kafka
        group:
          id: "wallet-service-group"
        value:
          deserializer: io.apicurio.registry.serde.avro.AvroKafkaDeserializer
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
        enable:
          auto:
            commit: false
        auto:
          offset:
            reset: "earliest"
    outgoing:
      payment-success-out:
        connector: smallrye-kafka
        topic: "payment.success"
        value:
          serializer: io.apicurio.registry.serde.avro.AvroKafkaSerializer
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
            auto-register: true
      payment-failed-out:
        connector: smallrye-kafka
        topic: "payment.failed"
        value:
          serializer: io.apicurio.registry.serde.avro.AvroKafkaSerializer
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
            auto-register: true