.slider {
  margin-top: 30px;
  margin-bottom: 30px;
}
.title {
  padding-left: 15px;
  margin-top: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.menu > .slick-slider {
  margin-left: 30px;
  width: 100%;
}
.typeCagetories {
  padding-top: 10px;
}
.typeCagetories:hover {
  transform: translate(0px, -10px);
  transition: 0.5s;
  color: #ffc107;
}
.typeCagetories:hover > img:hover {
  border-radius: 50%;
  box-shadow: 0 5px 0 0 rgb(215, 215, 215);
}
.typeCagetories:hover > .title:hover {
  color: #ffc107;
}
