.background {
  background-image: url("../../assets/img/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

#LoginPage .gradient-custom-2 {
}
#LoginPage .customBtn button {
  width: 100%;
}
#LoginPage .card {
  opacity: 0.9;
}
