
#AddressShipComponent .add-address{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AddressShipComponent .add-address svg,
#AddressShipComponent .add-address span{
    cursor: pointer;   
}

#AddressShipComponent .add-address svg{
    color: rgb(120, 120, 120);
    font-size: 28px;
    margin: 0px 20px;
}

#AddressShipComponent .add-address span,
#AddressShipComponent .address-ship .action{
    color: rgb(11, 116, 229);
}

#AddressShipComponent .address-ship{
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#AddressShipComponent .address-ship .info .name{
    text-transform: uppercase;
    margin: 0px 0px 10px;
}

#AddressShipComponent .address-ship .info .name>span{
    text-transform: none;
    margin-left: 15px ; 
    color: rgb(38, 188, 78);
}

#AddressShipComponent .address-ship .info .name svg{
    position: relative;
    top: -2px;
    
}

#AddressShipComponent .address-ship .info .address span,
#AddressShipComponent .address-ship .info .phone span{
    color: rgb(120, 120, 120);
}

#AddressShipComponent .address-ship .action svg{
    margin-right: 5px;
    position: relative;
    top: -2px;
}

#AddressShipComponent .address-ship .action {
    cursor: pointer;
    min-width: 67px;
}

#AddressShipComponent .address-ship .action .act-delete{
    color: rgb(254, 43, 43);
}

.disable-checkbox{
    cursor: no-drop;
    opacity: .35;
}

#AddressShipComponent .address-ship .action .btn-address{
    border: 1px solid rgb(2, 159, 209);
    color: rgb(255, 255, 255);
    background: rgb(0, 182, 240);
    margin-top: 15px;
}

#AddressShipComponent .address-ship .action .btn-address__default{
    border: 1px solid rgb(85, 86, 73);
    color: rgb(255, 255, 255);
    background: rgb(98, 100, 85);
    margin-top: 15px;
}

#AddressShipComponent .instructor-address{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

#AddressShipComponent .redirect-profile{
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#AddressShipComponent .redirect-profile span{
    color: rgb(0, 127, 240);
    cursor: pointer;
}