#ResetPasswordPage {
  background-image: url("../../assets/img/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  height: 100vh;
}

#ResetPasswordPage .card {
  width: 40%;
  height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.94;
  border-radius: 10px;
}

#ResetPasswordPage .card .border-radius-top {
  border-radius: 10px 10px 0 0;
}
