avro:
  codegen:
    enableDecimalLogicalType: true
    optionalGettersForNullableFieldsOnly: true

quarkus:
  otel:
    metrics:
      enabled: true
    exporter:
      otlp:
        endpoint: http://localhost:4317
  datasource:
    jdbc:
      url: 'jdbc:postgresql://localhost:5432/payment_service?serverTimezone=UTC'
    db-kind: postgresql
    metrics:
      enabled: true
    password: postgres
    username: postgres
  hibernate-orm:
    query:
      fail-on-pagination-over-collection-fetch: true
    schema-management:
      strategy: drop-and-create
    second-level-caching-enabled: false
    log:
      sql: false
      format-sql: false
    physical-naming-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
  http:
    port: 8083
    auth:
      permission:
        authenticated:
          paths: /*
          policy: authenticated
        permit:
          paths: /q/*
          policy: permit
    access-log:
      pattern: "...traceId=%{X,traceId} spanId=%{X,spanId}"
  oidc:
    enabled: true
    auth-server-url: http://localhost:8180
    client-id: postman
    application-type: SERVICE
    authentication:
      user-info-required: true
  log:
    console:
      #format: "%d{HH:mm:ss} %-5p traceId=%X{traceId}, parentId=%X{parentId}, spanId=%X{spanId}, sampled=%X{sampled} [%c{2.}] (%t) %s%e%n"
      format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{3.}] %X (%t) %s%e%n"
  smallrye-openapi:
    store-schema-directory: target

kafka:
  bootstrap:
    servers: localhost:9092

mp:
  messaging:
    metrics:
      enabled: true
    connector:
      smallrye-kafka:
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
    outgoing:
      payment-initiated-topic:
        topic: "payment.initiated"
        connector: smallrye-kafka
        value:
          serializer: io.apicurio.registry.serde.avro.AvroKafkaSerializer
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
            auto-register: true