avro:
  codegen:
    enableDecimalLogicalType: true
    optionalGettersForNullableFieldsOnly: true

quarkus:
  datasource:
    jdbc:
      url: 'jdbc:postgresql://localhost:5432/payment_service?serverTimezone=UTC'
    db-kind: postgresql
    metrics:
      enabled: true
    password: postgres
    username: postgres
  hibernate-orm:
    query:
      fail-on-pagination-over-collection-fetch: true
    schema-management:
      strategy: drop-and-create
    second-level-caching-enabled: false
    log:
      sql: false
      format-sql: false
    physical-naming-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
  http:
    port: 8083
    auth:
      permission:
        authenticated:
          paths: /*
          policy: authenticated
        permit:
          paths: /q/*
          policy: permit
  oidc:
    enabled: true
    auth-server-url: http://localhost:8180
    client-id: postman
    application-type: SERVICE
    authentication:
      user-info-required: true
  log:
    handler:
      console:
        console:
          format: "%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%c{3.}] %X (%t) %s%e%n"
  smallrye-openapi:
    store-schema-directory: target

kafka:
  bootstrap:
    servers: localhost:9092
  apicurio:
    registry:
      auto-register: true
      url: http://localhost:8081/apis/registry/v2

mp:
  messaging:
    outgoing:
      payment-initiated-topic:
        topic: "payment.initiated"
        connector: smallrye-kafka
        value:
          serializer: io.apicurio.registry.serde.avro.AvroKafkaSerializer
        apicurio:
          registry:
            url: http://localhost:8081/apis/registry/v2
            auto-register: true